@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

@layer utilities {
  .bg-custom-pink {
    background-color: #ead3cc;
  }
  
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

a.active hr {
  display: block;
}

* {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #d25525;
  }
}